@using HayvanBarinagi.Utility;
@model Animal
<form method="post" enctype="multipart/form-data">
    @*enctype="multipart/form-data" Filedan resim eklerken hata alırız eklemezsek*@
    <input asp-for="ImageURL" hidden /> @*Resim url null gitmemesi için. file name aldık çünkü biz*@


    <div class="container">
        <div class="row text-center my-1">
            <h2 class="">@_localization.Getkey("str_CreateReq")</h2>
            <hr />
        </div>
        <div class="my-1">
            <label asp-for="Name" class="">@_localization.Getkey("str_Name")</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class=""></span>
        </div>
        <div class="my-1">
            <label asp-for="Age" class="">@_localization.Getkey("str_Age")</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class=""></span>
        </div>
        <div class="my-1">
            <label asp-for="AnimalTypeId" class="">@_localization.Getkey("str_Type")</label>
            <select asp-for="AnimalTypeId" asp-items="ViewBag.AnimalTypeList" class="form-select"></select>
        </div>
        <div class="my-1">
            <label asp-for="Features" class="">@_localization.Getkey("str_Features")</label>
            <input asp-for="Features" class="form-control" />
            <span asp-validation-for="Features" class=""></span>
        </div>
        <div class="my-1">
            <label asp-for="Recipient" class="">@_localization.Getkey("str_Recipient")</label>
            <input asp-for="Recipient" disabled class="form-control" value="@ViewData["Username"]" />
            <input asp-for="Recipient" hidden class="form-control" value="@ViewData["Username"]" />
            <span asp-validation-for="Recipient" class=""></span>
        </div>
        <div class="my-1">
            <label asp-for="RecipientAbout" class="">@_localization.Getkey("str_About")</label>
            <input asp-for="RecipientAbout" disabled class="form-control" value="@ViewData["About"]" />
            <input asp-for="RecipientAbout" hidden class="form-control" value="@ViewData["About"]" />
            <span asp-validation-for="RecipientAbout" class=""></span>
        </div>
        <button type="submit" class="btn btn-border btn-primary text-white m-3">@_localization.Getkey("str_CreateReq")</button>

        <a asp-controller="Animal" asp-action="Index" class="btn btn-border btn-danger text-white m-3">@_localization.Getkey("str_Cancel")</a>
    </div>

</form>

