@using HayvanBarinagi.Utility;
@model List<Animal>
@if (TempData["Success"] != null)
{
    <table class="table table-bordered bg-success">
        <tr><th>@TempData["Success"]</th></tr>
    </table>
}
<div class="container">
    <div class="">
        <h1>Animals</h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>Features</th>
            <th>Image</th>
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <th></th>
                <th></th>
            }
            @if (User.IsInRole(UserRoles.Role_Customer))
            {
                <th></th>
            }
        </tr>
        @foreach (var animal in Model)
        {
            if (animal.isRequest == false && animal.Status == false)
            {
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.AnimalType.Name</td>
                    <td>@animal.Features</td>
                    <td></td>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td><a asp-controller="Animal" asp-action="AddOrUpdateAnimal" asp-route-id="@animal.Id" type="button" class="btn">Edit</a></td>
                        <td><a asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@animal.Id" type="button" class="btn">Delete</a></td>
                    }
                    @if (User.IsInRole(UserRoles.Role_Customer))
                    {
                        <td><a asp-controller="Animal" asp-action="CreateRequest" asp-route-id="@animal.Id" type="button" class="btn">Create Request</a></td>
                    }
                </tr>
            }
        }

    </table>
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div class="">
            <a asp-controller="Animal" asp-action="AddOrUpdateAnimal" class="btn" type="button">Add New Animal</a>
        </div>
    }
</div>