@using HayvanBarinagi.Utility;
@model List<Animal>
@if (TempData["Success"] != null)
{
    <table class="table table-bordered bg-success text-white">
        <tr><th>@TempData["Success"]</th></tr>
    </table>
}
<div class="container">
    <div class="row text-center"><h3>@_localization.Getkey("str_Animals")</h3></div><hr />
    <table class="table">
        @if (User.IsInRole(UserRoles.Role_Customer))
        {
            <tr><td><a asp-controller="Animal" asp-action="AddGAnimal" type="button" class="btn btn-success text-white">@_localization.Getkey("str_GiveAnimal")</a></td></tr>
        }
        <tr>
            <th>@_localization.Getkey("str_Image")</th>
            <th>@_localization.Getkey("str_Name")</th>
            <th>@_localization.Getkey("str_Age")</th>
            <th>@_localization.Getkey("str_Features")</th>
            <th>@_localization.Getkey("str_Type")</th>
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <th></th>
                <th></th>
            }
            @if (User.IsInRole(UserRoles.Role_Customer))
            {
                <th></th>
            }
        </tr>
        @foreach (var animal in Model)
        {
            if (animal.isRequest == false && animal.Status == false)
            {
                <tr>
                    <td><img src="@animal.ImageURL" width="100px"/></td>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td><details><summary>@_localization.Getkey("str_ClickForFeatures")</summary>@animal.Features</details></td>
                    <td>
                        @if (Thread.CurrentThread.CurrentCulture.Name.ToString() == "en-US")
                        {
                            @animal.AnimalType.NameEN
                        }
                        else
                        {
                            @animal.AnimalType.NameTR
                        }
                    </td>
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td class="bg-primary"><a asp-controller="Animal" asp-action="AddOrUpdateAnimal" asp-route-id="@animal.Id" type="button" class="btn btn-primary text-white">@_localization.Getkey("str_Edit")</a></td>

                        <td class="bg-danger"><a asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@animal.Id" type="button" class="btn btn-danger text-white">@_localization.Getkey("str_Delete")</a></td>
                    }
                    @if (User.IsInRole(UserRoles.Role_Customer))
                    {
                        <td class="bg-success"><a asp-controller="Animal" asp-action="CreateRequest" asp-route-id="@animal.Id" type="button" class="btn btn-success text-white">@_localization.Getkey("str_CreateReq")</a></td>
                    }
                </tr>
            }
        }

    </table>
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div class="row col-md-4 mx-auto ">
            <a asp-controller="Animal" asp-action="AddOrUpdateAnimal" class="btn btn-success text-white" type="button">@_localization.Getkey("str_Add")</a>
        </div>
    }
</div>