@model List<Animal>
@if (TempData["Success"] != null)
{
    <table class="table table-bordered bg-success">
        <tr><th>@TempData["Success"]</th></tr>
    </table>
}
<div class="container">
    <div class="">
        <h1>Requests</h1>
    </div>
    @if(Model == null){<tr><td>Request is not found</td></tr>}
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>Features</th>
            <th>Image</th>
            <th>Status</th>
        </tr>
        @foreach (var animal in Model)
        {
          @* if (animal.isRequest == true)
            {*@
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.AnimalType.Name</td>
                    <td>@animal.Features</td>
                    <td><img src="@animal.ImageURL" /></td>
                @if (animal.Status == false)
                {
                    if (animal.isRequest == false)
                    {
                        <td>Cancelled</td>
                    }
                    else
                    {
                        <td>Waiting</td>
                    }
                }
                else{
                    <td>Approved</td>
                }
            </tr>
           @* }*@
        }

    </table>
</div>