@model List<Animal>
@if (TempData["Success"] != null)
{
    <table class="table table-bordered bg-success">
        <tr><th>@TempData["Success"]</th></tr>
    </table>
}
<div class="container">
    <div class="row text-center"><h3>@_localization.Getkey("str_Requests")</h3></div><hr />
    <table class="table">
        <tr>
            <th>@_localization.Getkey("str_Recipient")</th>
            <th>@_localization.Getkey("str_Image")</th>
            <th>@_localization.Getkey("str_Name")</th>
            <th>@_localization.Getkey("str_Age")</th>
            <th>@_localization.Getkey("str_Features")</th>
            <th>@_localization.Getkey("str_Type")</th>
            <th></th>
            <th></th>
        </tr>
        @if (Model == null)
        {
            <tr><td>@_localization.Getkey("str_Requests")</td></tr>
        }
        @foreach (var animal in Model)
        {
            if (animal.isRequest == true && animal.Status == false)
            {
                <tr>
                    <td><details><summary>@animal.Recipient</summary>@animal.RecipientAbout</details></td>
                    @*<td>@animal.Recipient</td>*@
                    <td><img src="@animal.ImageURL" width="100px"/></td>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td><details><summary>@_localization.Getkey("str_ClickForFeatures")</summary>@animal.Features</details></td>
                    <td>
                        @if (Thread.CurrentThread.CurrentCulture.Name.ToString() == "en-US")
                        {
                            @animal.AnimalType.NameEN
                        }
                        else
                        {
                            @animal.AnimalType.NameTR
                        }
                    </td>

                    <td class="bg-success"><a asp-controller="Animal" asp-action="AcceptReq" asp-route-id="@animal.Id" type="button" class="btn btn-success text-white">@_localization.Getkey("str_Accept")</a></td>
                    <td class="bg-danger"><a asp-controller="Animal" asp-action="DeclineReq" asp-route-id="@animal.Id" type="button" class="btn btn-danger text-white">@_localization.Getkey("str_Decline")</a></td>

                    @*
                    <td><a asp-controller="Animal" asp-action="AcceptRequest" asp-route-id="@animal.Id" type="button" class="btn">Accept</a></td>
                    <td><a asp-controller="Animal" asp-action="DeclineRequest" asp-route-id="@animal.Id" type="button" class="btn">Decline</a></td>
                    *@
                </tr>
            }
        }

    </table>
</div>